[project]
name = "project-scraper"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "pytest>=9.0.1",
]

[dependency-groups]
dev = [
    "pytest-cov>=7.0.0",
]